<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course Selection</title>
</head>
<body>

<h1 class="title"> Welcome user: {{session['username']}}</h1>
<br>


{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for msg in messages %}
        <p class="flash">{{msg}}</p>
    {% endfor %}
{% endif %}
{% endwith %}


<form method="POST" action="{{url_for('upload_courses',username=session['username'])}}">
    <div id="course_1">
        <label id="course_1"> Course 1 </label>
        <a class="remove_course" id="remove_course_1" href="#">Remove Course</a> <br>
        <input id="course_1" type="text" name="course_id" value=""> <br>

        <div id="section_1_1">
            <label id="section_1_1"> Section 1</label> 
            <a class="remove_section" id="remove_section_1_1" href="#">Remove Section</a> <br>
            Start: <input id="section_1_1" type="text" name="course_1" value="">
            End: <input id="section_1_1" type="text" name="course_1" value=""> <br>
        </div>

        <div id="section_1_2">
            <label id="section_1_2"> Section 2</label> 
            <a class="remove_section" id="remove_section_1_2" href="#">Remove Section</a> <br>
            Start: <input id="section_1_2" type="text" name="course_1" value="">
            End: <input id="section_1_2" type="text" name="course_1" value="">
        </div>
        <a class="add_section" id="add_section_course_1" href="#">Add Section</a>

    </div>

    <a id="add_course" href="#">Add Course</a>

    <input type="submit" value="Submit">
</form>

<form method="POST" action={{url_for('logout')}}>
    <input type="hidden" name="username" value="{{session['username']}}">
    <input type="submit" value="Log out">
</form>

    


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script src="{{url_for('static', filename='dashboard.js')}}"></script>




</body>
</html>