<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='dashboard.css')}}">
    <meta charset="UTF-8">
    <title>Course Selection</title>
</head>
<body>
<div class="container">
<div class="row"> 
    <div class="col-sm-8">
        <h1 class="title"> Welcome user: {{session['username']}}</h1>
    </div>
    <div class="col-sm-4">
        <h3><a class="nav-link" href={{url_for('logout', username=session['username'])}}>Log out</a></h3>
    </div>
</div>   


<div class="row"> 
        <div class="col-sm-12">
        <h3> Create new timetable </h3>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p class="flash">{{msg}}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}     
    </div>
</div>  
<div class="row">
    <div class="col-sm-6 scrollable_ul">
        <form class="form" method="POST" action="{{url_for('upload_courses',username=session['username'])}}">
            <div class="course">
            <div class="form-group form-inline">
                <label for="course_name">Course Name: </label>
                <input type="text" name="courses">
                <a class="remove_course" id="" href="#">(Remove)</a>
            </div>

            <div class="form-group form-inline section">
                <label for="">Day</label>
                <select class="form-control" name="courses">
                    <option value="M">Monday</option>
                    <option value="Tu">Tuesday</option>
                    <option value="W">Wednesday</option>
                    <option value="Th">Thursday</option>
                    <option value="F">Friday</option>
                </select>
                <label for="">Start time:</label>
                <select class="form-control" name="courses">
                    <option value="9">9:00</option>
                    <option value="10">10:00</option>
                    <option value="11">11:00</option>
                    <option value="12">12:00</option>
                    <option value="13">13:00</option>
                    <option value="14">14:00</option>
                    <option value="15">15:00</option>
                    <option value="16">16:00</option>
                    <option value="17">17:00</option>
                    <option value="18">18:00</option>
                    <option value="19">19:00</option>
                    <option value="20">20:00</option>
                </select>
                <label for="sel1">End time:</label>
                <select class="form-control" name="courses">
                    <option value="9">9:00</option>
                    <option value="10">10:00</option>
                    <option value="11">11:00</option>
                    <option value="12">12:00</option>
                    <option value="13">13:00</option>
                    <option value="14">14:00</option>
                    <option value="15">15:00</option>
                    <option value="16">16:00</option>
                    <option value="17">17:00</option>
                    <option value="18">18:00</option>
                    <option value="19">19:00</option>
                    <option value="20">20:00</option>
                </select>
                <a class="remove_section" id="" href="#">(Remove)</a>
            </div>   <!-- section -->  
            <div class="form-group form-inline section">
                    <label for="">Day</label>
                    <select class="form-control" name="courses">
                        <option value="M">Monday</option>
                        <option value="Tu">Tuesday</option>
                        <option value="W">Wednesday</option>
                        <option value="Th">Thursday</option>
                        <option value="F">Friday</option>
                    </select>
                    <label for="">Start time:</label>
                    <select class="form-control" name="courses">
                        <option value="9">9:00</option>
                        <option value="10">10:00</option>
                        <option value="11">11:00</option>
                        <option value="12">12:00</option>
                        <option value="13">13:00</option>
                        <option value="14">14:00</option>
                        <option value="15">15:00</option>
                        <option value="16">16:00</option>
                        <option value="17">17:00</option>
                        <option value="18">18:00</option>
                        <option value="19">19:00</option>
                        <option value="20">20:00</option>
                    </select>
                    <label for="sel1">End time:</label>
                    <select class="form-control" name="courses">
                        <option value="9">9:00</option>
                        <option value="10">10:00</option>
                        <option value="11">11:00</option>
                        <option value="12">12:00</option>
                        <option value="13">13:00</option>
                        <option value="14">14:00</option>
                        <option value="15">15:00</option>
                        <option value="16">16:00</option>
                        <option value="17">17:00</option>
                        <option value="18">18:00</option>
                        <option value="19">19:00</option>
                        <option value="20">20:00</option>
                    </select>
                    <a class="remove_section" id="" href="#">(Remove)</a>
                </div>   <!-- section -->    
            <a class="add_section" id="" href="#">Add Section</a>
            <input type="hidden" name="courses">
        </div> <!-- course -->
            <a class="add_course" id="" href="#">Add Course</a> <br>
            <input type="submit" value="Submit">
        </form>
    </div>  <!-- div class="col-sm-8"-->

    <div class="col-sm-4">
    <ul class="nav nav-pills nav-stacked scrollable_ul">
    <li class="nav-item">
      <h3 >Course List: </h3>
          {% for course in all_courses %}
        <li class="nav-item">
            <a class="nav-link" href="#">
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="{{course[0]}}" value="">
                <label class="form-check-label" for="{{course[0]}}">{{course[0]}}</label>
                </div>
                {% for section in course[1] %}
                <p>{{section}}</p>
                {% endfor %}
            </a>
        </li>
        {% endfor %}
    </li>
  </ul>
    </div>
</div> <!-- div class="row"-->
</div> <!-- div class="container"-->

    


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script src="{{url_for('static', filename='dashboard.js')}}"></script>




</body>
</html>